// sidebar
$menuText:#bfcbd9;
//单击菜单时候的字体颜色
$menuActiveText:#409EFF;
$subMenuActiveText:#ffffff; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#191A23;
$menuHover:#101117;

$subMenuBg:#191A23;
//鼠标滑过的颜色
$subMenuHover:#2D8cF0;
//鼠标滑过宽度
$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
